%btn{
display: inline-block;
padding: 8px 10px;
background-image: linear-gradient(45deg,  alpha(var(--primaryColor), 1), alpha(var(--primaryColor), 0.7), alpha(var(--primaryColor), 0.6),  alpha(var(--primaryColor), 1));
color: var(--onPrimary);
border-radius: 5px;
text-align: center;
font-size: 1.2rem;
transition: box-shadow 0.3s ease-in;
text-decoration: none;
&:hover{
    color: var(--onPrimary);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
}
}

.button-primary{
    @extend %btn;

}